

table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}
#downloadBtn{
  display: block;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 72%;
}



thead th {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  text-align: left;
}


tbody td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}


h1 {
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
}




#dossier{
  display: block;
}

@media screen and (max-width: 400px) {
  table{
    display: block;
    width: 100%;
  }
  tbody td {
    padding: 0.5px;
  }
}
